@Model string

<ul class="nav navbar-nav side-nav">
    <li @(Model == "dashboard" ? "class=active" : "")><a href="/admin"><i class="fa fa-bullseye"></i> Dashboard</a></li>
    <li @(Model == "portfolio" ? "class=active" : "")><a href="/admin/portfolio"><i class="fa fa-tasks"></i> Portfolio</a></li>
    <li @(Model == "blog" ? "class=active" : "")><a href="/admin/blog"><i class="fa fa-globe"></i> Blog</a></li>
    <li @(Model == "forms" ? "class=active" : "")><a href="/admin/forms"><i class="fa fa-list-ol"></i> Forms</a></li>
    <li @(Model == "typography" ? "class=active" : "")><a href="/admin/typography"><i class="fa fa-font"></i> Typography</a></li>
    <li @(Model == "bootstrap-elements" ? "class=active" : "")><a href="/admin/bootstrap-elements"><i class="fa fa-list-ul"></i> Bootstrap Elements</a></li>
    <li @(Model == "bootstrap-grid" ? "class=active" : "")><a href="/admin/bootstrap-grid"><i class="fa fa-table"></i> Bootstrap Grid</a></li>
</ul>